################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Safesfir.Data/bin
/Safesfir.Data/obj
/Safesfir.QBD/bin
/Safesfir.QBD/obj
